/* Webfont: Gotham-Italic */@font-face {
    font-family: 'Gotham-BookItalic';
    font-style: 'normal';
    font-weight: 'normal';
    src: url('fonts/GothaBooIta.eot'); /* IE9 Compat Modes */
    src: url('fonts/GothaBooIta.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/GothaBooIta.woff') format('woff'), /* Modern Browsers */
         url('fonts/GothaBooIta.svg#Gotham-Italic') format('svg'), /* Legacy iOS */
         url('fonts/GothaBooIta.ttf') format('truetype'); /* Safari, Android, iOS */
}

