/* Webfont: Gotham-Medium */@font-face {
    font-family: 'Gotham-Medium';
    font-style: 'normal';
    font-weight: 'normal';
    src: url('fonts/GothaMed.eot'); /* IE9 Compat Modes */
    src: url('fonts/GothaMed.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/GothaMed.woff') format('woff'), /* Modern Browsers */
         url('fonts/GothaMed.svg#Gotham-Medium') format('svg'), /* Legacy iOS */
         url('fonts/GothaMed.ttf') format('truetype'); /* Safari, Android, iOS */
}

