/* Webfont: Gotham-BoldItalic */@font-face {
    font-family: 'Gotham-BoldItalic';
    font-style: 'normal';
    font-weight: 'normal';
    src: url('fonts/GothaBolIta.eot'); /* IE9 Compat Modes */
    src: url('fonts/GothaBolIta.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/GothaBolIta.woff') format('woff'), /* Modern Browsers */
         url('fonts/GothaBolIta.svg#Gotham-BoldItalic') format('svg'), /* Legacy iOS */
         url('fonts/GothaBolIta.ttf') format('truetype'); /* Safari, Android, iOS */
}

