<div class="navbar navbar-default navbar-static-top">
      <div class="container">
      
        <div class="navbar-header">
          <a href="index.php"><img class="brandLogo" alt="Open Aid Partnership" src="img/OAP_logo_sm.png"></a>
        </div>
        
        <ul class="nav navbar-nav navbar-right">
        
            <li class="dropdown" id="locationMenu">
              <a href="#" class="dropdown-toggle nav-location" data-hover="dropdown" data-toggle="dropdown">Choose Location <img src='img/arrow_DESC.png'></a>
              <ul class="dropdown-menu drop-location">
                <li><a id="gotoBolivia" href="application.php?dg=Bolivia" >Bolivia</a></li>
                <!--<li><a id="gotoColombia" href="application.php?dg=Colombia" >Colombia</a></li>-->
                <li><a id="gotoHaiti" href="application.php?dg=Haiti">Haiti</a></li>
                <li><a id="gotoHonduras" href="application.php?dg=Honduras" >Honduras</a></li>
                <li><a id="gotoNepal" href="application.php?dg=Nepal" >Nepal</a></li>
                <!--<li><a id="gotoKenya" href="application.php?dg=Kenya">Kenya</a></li>-->
                <li><a id="gotoMalawi" href="application.php?dg=Malawi">Malawi</a></li>
                <!--<li><a  id="gotoWorld">Global</a></li> -->
              </ul>
            </li>
        
            <li><a class="navLink1" href="partnership.html">partnership</a></li>
            <li><a class="navLink1" href="news.html">news</a></li>
            
            <li><span class="right verticalSep"></span></li>
            <!--<li class="dropdown">
              <a href="#" class="dropdown-toggle navLink2" data-toggle="dropdown" id="login">LOGIN <img src='img/collapse_down.png'></a>
              <ul class="dropdown-menu">
                <li><a class="" href="">Login</a></li>
              </ul>
            </li>-->
        </ul>
        
      </div><!-- end navbar container -->
</div><!-- end navbar -->
